<!DOCTYPE html>

<hmtl>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main">

     
        <div class="main-content">
        {{>header}}
        <p>This site was created by Ravi Chandu.It uses data from mapbox.com and darkSky.net</p>
        <img src="/img/nature.jpg"/>
        </div>
        <div>
        {{>footer}}
        </div>
        </div>
    </body>
</hmtl>